body {
  background: rgb(35, 35, 73);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.323);
}

div {
  text-align: center;
  padding: 8px;

}

img {
  margin-top: 2rem;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}